.navbar {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    background-color: teal;

    a {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        &.active {
            color: greenyellow;
        }
        &:hover {
            color: rgb(243, 204, 204);
        }
    }
}