main {
  width: 100%;
  padding-top: 50px;
}
main .flexrow {
  display: flex;
  column-gap: 15px;
}
main .navbar {
  flex: 0 1 20%;
  padding: 15px;
  height: 100vh;
}
main .content {
  flex: 0 1 80%;
}